.page-header {
    border: none !important;
    background-color: #c7bad8;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.page-header H1 {
    text-align: center;
    margin-top: 10px;
}

.page-header H1 a {
    text-decoration: none;
}

.page-header H1 a:hover {
    color: #adadad;
}

.page-header H4 {
    text-align: center;
}

.page-header H4 a {
    color: #adadad;
    font-size: 1.4rem;
    margin: 0;
    text-decoration: none;
}

.page-header H4 a:hover {
    color: #d7d7d7;
}

.navbar {
    background-color: #c7bad8;
}

.nav-right {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.nav-right:hover, .nav-right:focus {
    text-decoration: none;
    color: rgba(0,0,0,.7);
}

.nav-justified {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #c7bad8;
}

.nav-justified li a {
    text-decoration: none;
    color: black;
}

.nav-justified li a:hover {
    background-color: #c7bad8;
    color: #adadad;
}

.nav-justified li a:active {
    background-color: #c7bad8;
    color: black;
}

@media (min-width: 768px) {
    .nav-justified li a {
        font-size: medium;
    }
}
@media (min-width: 1px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

html {
    position: relative;
    min-height: 100%;
}
.main-body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    background-color: #fbfbfb;
}

.footer {
    position: absolute;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    line-height: 80px;
    color: #767676;
    background-color: black;
}

.footer p {
    font-size: 0.8rem;
    padding-bottom: 5px;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #b2b2b2;
}

.footer p a:hover {
    text-decoration: none;
    color: #b2b2b2;
}


.white-bg {
    background-color: white;
}

.purple-border {
    border-left: 7px solid #c7bad8;
}

.remove-padding {
    padding-left: 0;
}

.remove-margin {
    margin: 0;
}

.lower-pad {
    padding-bottom: 20px;
}

.upper-pad {
    padding-top: 20px;
}

.non-justified {
    text-align: left !important;
}

.md-text {
    font-size: large;
}

.lg-text {
    font-size: larger;
}

p {
    line-height: 175%;
}

.test-border {
    border: 2px red solid;
}

.control-label {
    color: #767676;
}

.carousel-pointer {
    cursor:pointer;
}

.panel {
    background-color: #c7bad8;
    border: none;
}

.panel-body {
    padding: 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.panel-title > a {
    text-decoration: none;
}

h4.panel-title {
    width: 100%;
}

.input-required {
    border-left: 5px solid #c7bad8;
}

::selection {
  background: #c7bad8; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #c7bad8; /* Gecko Browsers */
}

legend {
    border-bottom: 1px solid #e5e5e5;
}